@mixin flex($x, $y, $z:false) {
  @if($z==true) {
    display: inline-flex;
  }
  @else{
    display: flex;  
  }
  justify-content: $x;
  align-items: $y;
}
  .pageFrame{
    width: 100vw;
    height: 100vh;
    @include flex(center, center);
    .authCard{
      width: 450px;
      background-color: white;
      border-radius: 10px;
      padding: 30px;
      text-align: center;
      form{
        margin-bottom: 20px;
        border: none;
        .formHeading{
          padding: 0;
          margin: 0;
          font-size: 30px;
          font-family: Montserrat;
          font-weight: 700;
          margin-bottom: 20px;
          text-align: center;
        }
        .inputFrame{
          margin-bottom: 20px;
          text-align: left;
          border: none;
          border-color: inherit;
          label{
            color: rgb(150, 148, 148);
            font-family: Quicksand;
            font-weight: 600;
            display: block;
            margin-bottom: 5px;
            margin-left: 10px;
          }
          input{
            width: calc(100% - 25px);
            padding: 8px 10px;
            font-size: 18px;
            border-radius: 10px;
            background-color: #d4daeb;
            border: 2px solid transparent;
            font-family: Nunito;
            font-weight: 700;
            outline: none;
            &:focus{
              border-color:inherit;
            }
          }
          .correctSyntax{
            color: red;
            font-size: 12px;
            font-family: Quicksand;
            font-weight: 600;
            margin-left: 10px;
            transition: 0.3s;
            display: block;
          }
        }
        .submitForm{
          padding: 10px 100px;
          border-radius: 10px;
          color: white;
          border: none;
          font-size: 20px;
          font-family: Quicksand;
          font-weight: 500;
          transition: 0.3s;
          span{
            display: inline-block;
            width: 80px;
            height: fit-content;
            @include flex(center, center);
            svg{
              animation: rotating 1s linear infinite;
            }
          }
          &:disabled{
            background-color: rgb(233, 233, 233) !important;
            color: rgb(196, 193, 193) !important;
          }
        }
      }
      .altAuth{
        font-family: Nunito;
        margin: 20px 0;
        a{
          text-decoration: none;
          font-weight: 700;
          font-size: 18px;
          margin-left: 5px;
        }
      }
      .googleAuth{
        width: 100%;
        padding: 15px 0;
        border-radius: 10px;
        background-color: #4285F4;
        color: white;
        border: none;
        font-family: Montserrat;
        font-size: 18px;
        @include flex(center, center);
      }
    }
  }
  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }