@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&family=Nunito:wght@700&family=Quicksand:wght@500;600&family=Montserrat:wght@500;600;700&family=Montserrat+Alternates:wght@500&display=swap');


@mixin flex($x, $y, $z:false) {
  @if($z==true) {
    display: inline-flex;
  }
  @else{
    display: flex;  
  }
  justify-content: $x;
  align-items: $y;
}
*{
  outline: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
::placeholder{
  color: rgb(206, 206, 206)
}
button{
  &:hover{
    cursor: pointer;
  }
}
body{
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #d4daeb;
}
.bodyContainer{
  @include flex(unset, unset);
}
.sideNav{
  width: 70px;
  height: 100vh;
  background-color: #f2f2f2;
  @include flex(space-between, center);
  flex-direction: column;
  .topItems{
    @include flex(space-between, center);
    flex-direction: column;
    margin-top: 30px;
    .logo{
      width: 40px;
      height: 40px;
    }
    .navLinks{
      width: 70px;
      margin-top: 40px;
      @include flex(space-between, center);
      flex-direction: column;
      a{
        list-style-type: none;
        width: 40px;
        height: 40px;
        margin-bottom: 20px;
        @include flex(center, center);
        border-radius: 50%;
      }
      .navLinkActive{
        svg{
          color: #6b21e3
        }
      }
      .navLinkInActive{
        svg{
          color: black
        }
      }
    }
  }
  .bottomItems{
    margin-bottom: 30px;
    .user, .logout{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-top: 20px;
      @include flex(center, center);
      border: none;
      padding: 0;
    }
    .user{
      img{
        width: 100%;
        height: 100%;
        border-radius: inherit;
      }
    }
    .logout{
      background-color: rgba(255, 0, 0, 0.1);
      svg{
        transition: 0.1s ease-in-out;
      }
      &:hover{
        svg{
          margin-left: 8px;
        }
      }
    }
  }
}
.content{
  height: calc(100vh - 30px);
  width: calc(100vw - 102px);
  margin-left: 15px;
  padding: 15px 0;
  padding-right: 15px;
  overflow-y: auto;
  .adminNotFound{
    width: 100%;
    height: 100%;
    @include flex(center, center);
    .heroCard{
      width: 400px;
      height: 220px;
      background-color: white;
      font-family: Dongle;
      border-radius: 10px;
      @include flex(space-evenly, center);
      flex-direction: column;
      padding: 30px;
      .heroCardLogo{
        width: 100px;
        margin-bottom: 30px;
      }
      .heroCardText{
        text-align: center;
        font-size: 40px;
        font-weight: 400;
        color: #6b21e3;
        line-height: 30px;
      }
      .heroCardLink{
        text-decoration: underline;
        text-decoration-thickness: 1px;
        color: #21E386;
        font-size: 35px;
        font-weight: 400;
      }
    }
  }
}
.rootNotFound{
  width: 100vw;
  height: 100vh;
  @include flex(center, center);
  .heroCard{
    width: 400px;
    // height: 220px;
    background-color: white;
    font-family: Dongle;
    border-radius: 10px;
    @include flex(space-evenly, center);
    flex-direction: column;
    padding: 30px;
    .heroCardLogo{
      width: 100px;
      margin-bottom: 30px;
    }
    .heroCardText{
      text-align: center;
      font-size: 40px;
      font-weight: 400;
      color: #6b21e3;
      line-height: 30px;
    }
    .heroCardLink{
      text-decoration: underline;
      text-decoration-thickness: 1px;
      color: #21E386;
      font-size: 35px;
      font-weight: 400;
    }
  }
}